* {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ff7f50;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #795548;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: coral;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: bold;
    color: #110e3a;
}

header, main, footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 30px;
    justify-content: flex-start;
    padding: 0 14%;
}

header, footer {
    height: 48px;
    background: #af6d6d;
}

header {
    box-shadow: 0px 5px 6px #4a3d3d;
}

footer {
    box-shadow: 0px -5px 6px #4a3d3d;
}

.mainDiv {
    border: 2px double;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    min-width: 130px;
    margin-bottom: 25px;
    flex-direction: column;
}
/*.mainDiv:hover {*/
/*    height: unset;*/
/*    overflow: unset;*/
/*}*/

section {
    display: flex;
    justify-content: space-around;
}


input#album {min-width: 20px;}
input#podcast {min-width: 20px;}

input {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
    color: #140f30;
    font-weight: bold;
    background: #f9b399;
    border: 2px solid #a96387;
    min-width: 120px;
    margin: 5px;
    min-height: 34px;
    text-align: center;
}

label {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

input[type="text"] {
    flex: 2;
    padding: 0px 0px 0px 4px;
}

select {
    background: #f9b399;
    margin: 0 5px 0 5px;
    border: 2px solid #a96387;
}

input[type="button"]:hover {
    background: #12122c5c;
}

input[type="button"] {
    flex: 1;
    box-shadow: 0.5px 0.5px 1px #010104;
    cursor: pointer;
    margin: 5px 5px 5px;
}

input[type="button"]:active {
    box-shadow: none;
}

div#result_list {
    height: 100%;
    overflow-y: scroll;
    
width: 70%;}

img {
    margin-right: 13px;
    
    border-radius: 7px;
}

audio {
    margin-left: 16px;
}

.display-box {
    display: flex;
    align-items: center;
    border: 4px double gray;
    border-radius: 27px;
    justify-content: space-around;
    padding: 10px;
    height: unset;
    margin-bottom: 10px;
    font-size: 20px;
    background: #d0dcff87;
}

















